
<% for t in @testodos %>
	<h1>Nom de la tache : <%= t.taches %></h1>
	<p>Date d'échange : <%= t.echeance %><p>
	<p>Priorité : <%= t.priorite %><p>
	<form action="/delete" method="post">
		<input type="submit" value="Supprimer"/>
	</form>
<%end%>
</br>
<form action="/" method="post">
	<label for="tache">Tache à effectuer</label>
	<input type="text" name="testodos[taches]" id="tache"/></br>

	Priorité : 
	<label for="haute">Haute</label>
	<input type="radio" value="haute" name="testodos[priorite]" id="haute"/>

	<label for="haute">Moyenne</label>
	<input type="radio" value="moyenne" name= "testodos[priorite]" id="moyenne"/>
	<label for="haute">Basse</label>
	<input type="radio" value="basse" name="testodos[priorite]" id="basse"/></br>
	<label for="echeance">Date butoir</label>
	<input type="date" name="testodos[echeance]" id="echeance"/></br>
	<input type="submit" value="Envoyer"/></br>

</form>