<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
		<title>NOTRE SUPER SITE TROP BIEN QU'IL EST</title>

	</head>
	<body>
		<h1>LA TODO DE STEPHANE</h1>
		<%= yield %>
		<footer>copyright the sdxd in szC.ve</footer>
	</body>
</html>